@media (min-width: 340px) and (max-width: 380px) {
    .form {
        max-width: 100%;
        margin: 2rem auto 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: auto;
        width: 80%;
    }

    .form-group {
        display: flex;
        flex-direction: column;
    }

    .condition {
        margin-top: 0rem;
        max-width: 100%;
    }


    input[type="text"] {
        border: 1.5px solid #ccc;
        border-radius: 5px;
        padding: 4px 17px;
        outline: none;
        width: 100%;
        box-sizing: border-box;
    }

    input[type="number"] {
        border: 1.5px solid #ccc;
        border-radius: 5px;
        padding: 4px 17px;
        outline: none;
        width: 100%;
        box-sizing: border-box;
    }

    .start-button {
        margin: 2rem auto 2rem auto;
        gap: 10px;
    }


    .blue-Arrow {
        width: 86.52129px;
        height: 89.52129px;
        top: 22%;
        left: 21%;
        opacity: 1;
        position: absolute;
    }

    .pink-Arrow {
        width: 86.52129px;
        height: 89.52129px;
        top: 22%;
        left: 21%;
        opacity: 1;
        position: absolute;
    }

    .Pink-Arrow {
        display: none;
        width: 70.52129px;
        height: 89.52129px;
        top: 23%;
        left: 22%;
        opacity: 1;
        position: absolute;
    }

    .skyBlue-Arrow {
        display: none;
        width: 70.52129px;
        height: 89.52129px;
        top: 23%;
        left: 22%;
        opacity: 1;
        position: absolute;
    }

    .Blue-Arrow {
        display: none;
        width: 70.52129px;
        height: 89.52129px;
        top: 23%;
        left: 22%;
        opacity: 1;
        position: absolute;
    }

    .yellow-Arrow {
        display: none;
        width: 70.52129px;
        height: 89.52129px;
        top: 23%;
        left: 22%;
        opacity: 1;
        position: absolute;
    }

    .video {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    .video-container {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 85%;
        transform: translate(-50%, -50%);
        text-align: center;
        box-sizing: border-box;
    }

    .download-button {
        padding: 5px 11px;
    }

    .share-button {
        padding: 5px 11px;
    }

    .buttons {
        margin: 0;
    }

}



/* Tablet devices ke liye media query */
@media (min-width: 700px) and (max-width: 1024px) {
    .video-container {
        width: 65%;
    }
}
